<div id="landing-page">
    <img src="/public/images/texting-removebg-preview.png" alt="">
    <div id="welcome-container" class="align-self-center">
        <div class="other">
            <div id="large-logo">
                <img id="logo" src="/images/imageedit_1_2937631585.png" alt="logo">
            </div>
            <div id="blurb-box">
                <h2 id="blurb"> An app where you can save your favorite memes, and create the next trending one. Created
                    with meme lovers in mind! </h2>
            </div>
        </div>
    </div>
</div>