<h1>{{title}}</h1>


{{#unless userFromDB}}
<p>fnsif;bsdbfsdbf</p>
{{/unless}}
<p>Welcome to Life of the Party!{{title}}</p>
<p>The app that makes you the funniest person in the room</p>
<a href="/auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>

<p>Welcome to {{title}}</p>
