{{#if currentUser}}
    <div class="card-columns">
        {{#each memes}}
        <div class="card p-5">
            <img src="{{this.url}}" class="card-img-top m-2" alt="meme">
            <div class="m-3">
                <form action="POST" action="">
                    <button type="submit">Save meme to board: </button>
                    <select type="select" name="boardId" id="board-selector">
                        <option value=""></option>
                        {{#each ../userBoards}}
                            <option value="{{this._id}}">{{this.title}}</option>     
                        {{/each}}
                    </select>
                </form>
            </div>
        </div>
        {{/each}}
    </div>
{{/if}} 



{{#unless currentUser}}
{{!-- <div class="lowerMainButtons">
    <a href="auth/login">Log In</a>
</div>
<div class="lowerMainButtons">
    <a href="auth/signup">Sign Up</a>
</div> --}}

{{!-- Kayla's code --}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}