<div class="card-columns m-5">
    {{#each memes}}
    <div class="card p-4">
        <img src="{{this.url}}" class="card-img-top m-2" alt="meme">
        <div class="m-3">
            <form method="POST" action="/boards/add-meme">
                <input type="hidden" id="hiddenInput" value="{{this.url}}" name="memeUrl">
                <select type="select" name="boardId" id="board-selector">
                    <option value=""></option>
                    {{#each ../userBoards}}
                    <option value="{{this._id}}">{{this.title}}</option>
                    {{/each}}
                </select>
                <button class="btn btn-secondary btn-sm" type="submit">Save meme to board</button>
            </form>
        </div>
    </div>
    {{/each}}
</div>