<h1>{{title}}</h1>

<p>Welcome to Life of the Party!</p>
<p>The app that makes you the funniest person in the room</p>

{{#unless currentUser}}
<a href="auth/login">Log In</a>
<a href="auth/signup">Sign Up</a>
{{/unless}}
