<h1>{{title}}</h1>
{{#if currentUser}}
    {{#each responseFromAPI.data}}
        {{#each memes}}
        <div class="card p-5" style="width: 18rem; pad">
            <img src="{{url}}" class="card-img-top" alt="meme">
        </div>
        {{/each}}
    {{/each}}
{{/if}}

<div class="logo"><b>Life<span>Of</span>The<span>Party</span></b></div>
{{!-- <img src="//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg" alt="">  --}}
{{!-- <div class="backgroundImage"></div> --}}

{{#unless currentUser}}
<div class="lowerMainButtons">
<a href="auth/login">Log In</a>
</div>
<div class="lowerMainButtons">
<a href="auth/signup">Sign Up</a>
</div>
{{/unless}}
