<div id="board-details">
  <h1>{{boardFromDB.title}}</h1>
  <button id="update-board-button">Update Board</button>
  <input type="hidden" id="boardTitle" value="{{boardFromDB.title}}">
</div>

<script src="/javascripts/board-dom.js"></script>



 {{!-- <button id="update-board-button">Update Profile</button> --}}