    <div id="container-all-users" class="container">
    {{#each usersFromDB}}
      <div class="row profile">
        <div class="col-md-3">
          <div class="profile-sidebar-all-users" style="position: relative">
        <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
              <img id="userpic" src="{{this.avatar}}" alt="userpic" class="img-responsive">
            </div>
        <!-- END SIDEBAR USER AVATAR -->
        <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <p>{{this.username}}</p>
              <a class="btn btn-secondary btn-sm" href="/users/profile/{{this._id}}">Visit profile</a>
            </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>