======> {{userFromDB.email}}
  
  {{#if userFromDB}}

<div class="user_profile">
<p>This is My Board</p>

<input type="text" placeholder="Enter Title Here...">
<ul>
  <li>Joke Here</li>
  <li>Joke Here</li>
  <li>Joke Here</li>
</ul>

<br>

<form action="text">Title</form>
<ul>
  <li>Joke Here</li>
  <li>Joke Here</li>
  <li>Joke Here</li>
</ul>

<br>

<form action="text">Title</form>
<ul>
  <li>Joke Here</li>
  <li>Joke Here</li>
  <li>Joke Here</li>
</ul>
{{/if}}
</div>